auto
node_modules
dist
.DS_Store
*~
*.aux
*.bak
*.bbl
*.blg
*.dvi
*.glo
*.gls
*.idx
*.ilg
*.ind
*.log
*.out
*.thm
*.toc
*.lof
*.lot
*.loe
*.vrb
*.hd
*.fdb_latexmk
*.fls
*.doc
*.pdf
*.toe
*.xdv
*.zip
/2.硕士论文撰写格式相关文件/
/GPATH
/GRTAGS
/GTAGS
/_region_.prv/
/_region_.synctex.gz
/_region_.tex
/dtx-style.sty
/figures/bthesistitle.eps
/figures/heulogo.eps
/heuthesis.cls
/linkfigure
/main.ist
/main.synctex.gz
/heuthesis.ist
/mainart.ist
/mainart.synctex.gz
/mainartplus.synctex.gz
.syctex.gz
*.gz
/examples/art/reportplus/dtx-style.sty
/examples/art/reportplus/heuthesis.bst
/examples/art/reportplus/heuthesis.cfg
/examples/art/reportplus/heuthesisartplus.cls
/examples/art/reports/dtx-style.sty
/examples/art/reports/heuthesis.bst
*.cfg
*.cls
*.sty
*.ist
